<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/statics/css/common/error.css">
    {{{_sections.css}}}
    {{!-- Additional per-page styles can be injected via fill_section 'css' --}}
    {{!-- Example: {{#fill_section 'css'}}<link rel="stylesheet" href="...">{{/fill_section}} --}}
    
</head>
<body class="{{bodyClass}}">
    {{{body}}}
    {{{_sections.js}}}
</body>
  
</html>
